:root {
  /* Colors */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f2e5d7;
  --brown-800: #854632;
  --white: #fff;

  /* Typography - Font Family */
  --font-family-outfit: "Outfit", sans-serif;
  --font-family-serif: "Young Serif", serif;

  /* Text Preset 1 */
  --tp-1-size: 4rem;
  --tp-1-weight: 400;
  --tp-1-line-height: 1;

  /* Text Preset 2 */
  --tp-2-size: 2.8rem;
  --tp-2-weight: 400;
  --tp-2-line-height: 1;

  /* Text Preset 3 */
  --tp-3-size: 2rem;
  --tp-3-weight: 600;
  --tp-3-line-height: 1;

  /* Text Preset 4 */
  --tp-4-size: 1.6rem;
  --tp-4-weight: 400;
  --tp-4-line-height: 1.5;

  /* Text Preset 4 Bold */
  --tp-4b-size: 1.6rem;
  --tp-4b-weight: 700;
  --tp-4b-line-height: 1.5;

  /* Spacing */
  --spacing-1600: 12.8rem;
  --spacing-600: 4.8rem;
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-150: 1.2rem;
  --spacing-100: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-outfit);
  color: var(--stone-600);
  background-color: var(--stone-100);
  font-size: var(--tp-4-size);
  font-weight: var(--tp-4-weight);
  line-height: var(--tp-4-line-height);
  min-height: 100vh;
  padding: var(--spacing-300);

  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-container {
  width: 73.6rem;
  background-color: var(--white);
  border-radius: 2.4rem;
  padding: var(--spacing-500);
}

.recipe-img {
  width: 100%;
  border-radius: 1.2rem;
}

.article {
  padding-top: var(--spacing-500);
}

.recipe-heading,
.section-heading {
  font-family: var(--font-family-serif);
}

.recipe-heading {
  font-size: var(--tp-1-size);
  font-weight: var(--tp-1-weight);
  line-height: var(--tp-1-line-height);
  color: var(--stone-900);
  margin-bottom: var(--spacing-300);
}

.section-heading {
  font-size: var(--tp-2-size);
  font-weight: var(--tp-2-weight);
  line-height: var(--tp-2-line-height);
  color: var(--brown-800);
  margin-top: var(--spacing-400);
  margin-bottom: var(--spacing-300);
}

.recipe-info {
  margin-bottom: var(--spacing-400);
}

.recipe-pre {
  background-color: var(--rose-50);
  border-radius: 1.2rem;
  padding: var(--spacing-300);
}

.pre-heading {
  font-size: var(--tp-3-size);
  font-weight: var(--tp-3-weight);
  line-height: var(--tp-3-line-height);
  color: var(--rose-800);
  margin-bottom: var(--spacing-200);
}

.list-infos {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-left: var(--spacing-300);
}

.list-infos li {
  padding-left: 1rem;
}

.list-infos li::marker {
  color: var(--brown-800);
  font-weight: bold;
}

.list-infos.list-rose li::marker {
  color: var(--rose-800);
}

.section-line {
  padding-bottom: var(--spacing-400);
  border-bottom: 1px solid var(--stone-150);
}

.table-info {
  margin-bottom: var(--spacing-300);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid var(--stone-150);
  padding: var(--spacing-200) var(--spacing-400);
  text-align: left;
}

td:nth-child(even) {
  color: var(--brown-800);
  font-weight: bold;
}

tr:last-child td {
  border-bottom: none;
}

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/* Mobile = 384px = 24em */

/******************************************/
/* BELOW 384px (Mobile) */
/******************************************/
@media (max-width: 24em) {
  body {
    padding: 0;
  }

  .recipe-container {
    padding: 0;
  }

  .article {
    padding: var(--spacing-500) var(--spacing-400);
  }
}
